<header>
  <h1>Wedding Planner</h1>
  <nav>
    <ng-container *ngIf="isLoggedIn$ | async as isLoggedIn">
      <a *ngIf="isLoggedIn; else loginBtn" (click)="logout()" href="#">Logout</a>
    </ng-container>
    <ng-template #loginBtn>
      <a routerLink="/login">Login</a>
    </ng-template>

    <a routerLink="/dashboard">Dashboard</a>
    <a routerLink="/guests">Guests</a>
    <a routerLink="/vendors">Vendors</a>
    <a routerLink="/budget">Budget</a>
    <a routerLink="/tasks">Tasks</a>
    <a routerLink="/schedule">Schedule</a>
  </nav>
</header>

<main>
  <router-outlet></router-outlet>
</main>

<app-toast></app-toast>
